.inline { display: inline-block; }
.absolute { position: absolute; }
.absolute.right-top { top:0; right: 0; }
.absolute.left-top { top:0; left: 0; }
.relative { position: relative; }
.hide { opacity: 0; pointer-events: none; }
.remove { display: none; }
.cover { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover !important; }
.right { float: right; }
.left { float: left; }
.center {  display: flex; justify-content: center; align-items: center; text-align: center; }
.no-float { float: none !important; }
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.no-overflow { overflow: hidden; }
.border-small-white { border: $small-border solid $white; }
.border-small-black { border: $small-border solid $black; }
.border-small-disabled { border: $small-border solid $disabled; }
.border-small { border: $small-border solid $primary; }
.border-white { border: $border solid $white; }
.border-black { border: $border solid $black; }
.border { border: $border solid $primary; }
.pointer { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.hover-primary:hover { background-color: $primary; color: $white; border: $small-border solid transparent; }
.hover-white:hover { background-color: $white; color: $primary; }
.hover-primary-invert:hover { background-color: invert($primary); filter: invert(100%); border: $small-border solid transparent; }
.hover-border:hover { border: $small-border solid $white; }
.hover-opacity { @extend .transition-3; opacity: 0.65; }
.hover-opacity:hover { opacity: 1; }
.fade-in { @extend .transition-3; opacity: 0;}
.fade-in.active { opacity: 1; }
.bg-primary { background-color: $primary !important; }
.bg-disabled { background-color: $disabled !important; }
.bg-white { background-color: $white; }


@mixin delay($delay) {
  transition-delay: $delay/20+s !important;
}

@mixin transition($transition) {
  transition: $transition/10+s ease !important;
}


.m {
  @for $i from 0 through 6 {
    &-#{$i} {
      margin: $i*$o;
    }
  }
}

.mb {
  @for $i from 0 through 6 {
    &-#{$i} {
      margin-bottom: $i*$o;
    }
  }
  &--50 {
    margin-bottom: -40%;
  }
}

.mt {
  @for $i from 0 through 6 {
    &-#{$i} {
      margin-top: $i*$o;
    }
  }
}

.space {
  @for $i from 0 through 6 {
    &-#{$i} {
      height:$i*$o;
    }
  }
  @for $i from 7 through 12 {
    &-#{$i} {
      height: $i*$i*$o/8;
    }
  }
  &-base {
    height: $o;
  }
  &-element {
    height: 3*$o;
  }
  &-100 {
    height: 100%;
  }

}

.delay {
  @for $i from 0 through 6 {
    &-#{$i} {
      @include delay($i);
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
  &-0 {
    width: 0;
  }
}


.transition {
  @for $i from 0 through 6 {
    &-#{$i} {
      @include transition($i);
    }
  }
}

@media print, screen and (max-width: 39.999em) {
  .small-0 {
    display: none;
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.999em) {
  .medium-0 {
    display: none;
  }
}

@media print, screen and (min-width: 64em) {
  .large-0 {
    display: none;
  }
  .padding-left {
    padding-right: 0.9375rem;
    padding-left: 0;
  }
  .padding-right {
    padding-left: 0.9375rem;
    padding-right: 0;
  }
}

.no-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}
