@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url($font + "icons/material-icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url($font + "icons/material-icons/MaterialIcons-Regular.woff2") format('woff2'),
  url($font + "icons/material-icons/MaterialIcons-Regular.woff") format('woff'),
  url($font + "icons/material-icons/MaterialIcons-Regular.ttf") format('truetype');
}