$primary: #0a9;
$accent: #a30;
$disabled: #AAA;
$semi-disabled: #EEE;
$white: #FFF;
$black: #333;

$transparent: transparent;
$dark: rgba(0, 0, 0, 0.7);
$semi-dark: rgba(0, 0, 0, 0.2);
$light: rgba(255, 255, 255, 0.7);
$semi-light: rgba(255, 255, 255, 0.3);